:root {
  line-height: 1.5;
}

.image-display {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 50vh;
  overflow: hidden;
}

.image-container {
  display: flex;
  position: relative;
}

img {
  display: none;
  height: 50vh;
  width: min-content;
}

.show {
  display: inherit;
}

.prevButton,
.nextButton {
  opacity: 50%;
  z-index: 1;
  position: absolute;
  height: 100%;
}

.nextButton {
  right: 0;
}
